// SPDX-License-Identifier: GPL-2.0-only
#include "am335x-boneblack.dts"

/ {
	model = "Bootlin course BeagleBone Black";
};

&i2c1 {
    status = "okay";
    clock-frequency = <0x186a0>;

    nunchuk: joystick@52 {
        compatible = "nintendo,nunchuk";
        reg = <0x52>;
    };
};