// SPDX-License-Identifier: GPL-2.0-only
#include "am335x-boneblack.dts"

/ {
    leds {
        led2 {
        	gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
        	default-state = "on";
        };
    };
};